@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(31 41 55);
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mc-content-p {
  @apply text-sm leading-7 max-sm:leading-6;

  a {
    @apply text-blue-400 hover:opacity-70;
  }
}

.mc-content-h2 {
  @apply my-8 text-2xl max-sm:my-4 max-sm:text-xl;
}

.mc-content-figure {
  @apply my-10;
}
